.form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.input {
  width: 50em;
  height: 30px;
  border-radius: red;
  border-radius: 20px;
  border-width: 5px;
  border-color: blue;
  margin-right: 30px;
}

/* .button-container {
  width: 10em;
  height: 40px;
  border-radius: 100em;
  border: groove;
  border-color: blue;
  text-align: center;
  -webkit-text-emphasis: double-circle;
} */

.button {
  width: 10em;
  height: 40px;
  border-radius: 100em;
  border: groove;
  border-color: #e2fb8a;
  text-align: center;
  -webkit-text-emphasis: double-circle;
  background: beige;
}